<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Canoa Amazónica</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url('static/fondo.jpg'); /* Opcional */
            background-size: cover;
            background-position: center;
        }
        #coco {
            cursor: pointer;
            width: 300px; /* Ajusta el tamaño según tu imagen */
        }
    </style>
</head>
<body>
    <img id="coco" src="static/coco.jpg" alt="Coco" onclick="abrirPagina()">
    <script>
        function abrirPagina() {
            window.location.href = 'https://canoaamaz-nica-kpyrtd5m97uvyaevx4f6ov.streamlit.app/';
        }
    </script>
</body>
</html>
